
body{
    background-color: #83ab83;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    margin-top: 10px;
    text-align: center;
}

h3{
    text-align: center;
}

img{
    margin-left: 150px;
}